* {
	padding: 0;
	margin: 0;
}

html, 
body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: Inconsolata, Arial, Helvetica, sans-serif;
	max-width: 1300px;
	margin: 0 auto;
	height: 100%;
	font-size: 16px;
	color: #000;
	background-color: white;
}

#logo {
	width: 150px; 
	position: absolute;
	left: 105px;
	top: -35px;

}

.topnav {
	background-color: #c5ccd8;
/*	overflow: hidden;*/
	width: 100%;
	height: 108px;
	padding-bottom: 50px;
	
}

.topnav a {
	float: right;
	color: #080808;
	text-align: center;
	
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

a {
	font-weight: bolder;
	font-size: 20px;
}

.topnav a:hover {
	background-color: #ddd;
	color: blue;
}

.topnav a.active {
	background-color: #44ccaa;
	color: white;
}
/*img {
	width: 100%;
}
*/

.hero-section {
	/*background: url("https://www.dropbox.com/s/lk9guu02ct7bqzr/laptop.jpg?dl=0");*/
	/*background-size: cover;*/
	width: 100%;
	height: 100vh;
	position: absolute;
	text-align: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-justify-content: center;
		-ms-flex-pack: center;
			justify-content: center;
	padding-top: 40px;
  }
  
  .hero-section .hero-section-text {
	color: #fefefe;
	text-shadow: 1px 1px 2px #0a0a0a;
  }
  
  

/*#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}*/

/*header info*/

/*.header {
	display: flex;
	align-items: center;
	background-color: #eef;
	width: 100%;
	height: 90px;
	padding: 0;
	border-bottom: 2px solid #000;
}

.logo-header {
	width: 30%;
	margin: auto;
}

.heading {
	width: 70%;
	text-align: right;
	padding-right: 10px;
}

.logo {
	height: 100px;
	width: 150px;
	margin-right: 0;
}*/
.contactinfo{
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
	margin-bottom: 30px;
}

.name {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	text-shadow: 1px 1px 1px #87b;
}

.title {
	font-size: 16px;
	text-shadow: 1px 1px 1px #87b;
	color: #000;
	font-weight: 700;
}

/*main*/

main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.main-image {
	width: 100%;
	height: auto;
	padding-top: 20px;
	padding-bottom: 90px;
}

/*.main {
	text-align: left;
	font-weight: bold;
}*/

/*featured work*/

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 30px;
	margin-top: 150px;
}
.featured-heading {
	margin-top: 50px;
	text-align: center;
	padding-bottom: 20px;
	font-size: 26px;
	text-shadow: 1px 1px 1px #87b;
	width: 100%;
}

.featured-items {
	
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	padding-bottom: 1.5em;
	text-align: center;
	margin: 30px 30px 30px 0;
}

.responsive-two {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 1.5em;
	text-align: center;
	font-weight: bold;
	max-width: 330px;
	max-height: 330px;
	margin: 20px 0px 20px 0px;
	width: 100%;
}

figure {
	border: 2px solid gray;
	border-radius: 5px;
	margin-top: 40px;
	margin-bottom: 40px;
	height: 330px;
	width: 330px;
	background-color: #eaf3f7;

}

.btn {
	background-color: #44a8d2;
	width: 120px;
	height: 30px;
	font-weight: bold;
	color: white;
}

.project-title {
	background-color: #44a8d2;
	align-content: center;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	color: white;
}

/*footer*/

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #eef;
	width: 100%;
	height: 100px;
	margin-top: 40px;
	border-top: 2px solid #000;
	padding-top: 15px;
}

.footer-heading {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	font-weight: bold;
}

.linkedin {
	display: flex;
	justify-content: center;
}

.copyright {
	display: flex;
	justify-content: center;
	font-size: 16px;
	padding-top: 20px;
	font-weight: bold;
}

@media screen and (min-width: 300px) {
	.logo-header {
		width: 20%;
	}
	.name {
		font-size: 14px;
		text-align: right;
		margin-top: 0;
        margin-bottom: 0;
        width: 100%;
	}
	.title {
		font-size: 12px;
        text-align: right;
        width: 100%;
	}
	.featured-items {
		justify-content: center;
	}
}

@media screen and (min-width: 700px) {
	.logo-header {
		width: 20%;
	}
	.logo {
		width: 200px;
		margin-right: 0;
		height: 120px;
		margin-top: 0;
		padding-bottom: 1em;
	}
	.name {
		font-size: 20px;
		text-align: right;
		margin-top: 0;
		margin-bottom: 0;
	}
	.title {
		font-size: 18px;
		text-align: right;
	}
	.featured-items {
		justify-content: space-between;
	}
}
 
       
        
        
    
     




